<div class="padding-1 textColor-brand">

  <h1 class="Headline --title">Welcome to Maven</h1>

  <ul>
    <li class="textColor-positive"><%= link_to '200 - OK', action: :ok_page %></li>
    <li class="textColor-warning"><%= link_to '404 - Not Found', action: :not_found_page %></li>
    <li class="textColor-negative"><%= link_to '500 - Internal Server Error', action: :internal_server_error_page %></li>
  </ul>
</div>
